.footerlinks{
    /*color:white;*/
    color:#ffffff;
    text-decoration:none !important;
}

.footerlinks:hover{
    color:#ffd800;
}

#footer1 {
    /*background:#762b00;*/
    background: #6A5ACD;
}


#footer2 {
    /*background:#531f00;*/
    background: royalblue;
}
